.destination-main {
    margin-top: 0.5rem;
    background-size: cover;
    background-position:center;
    padding-bottom: 6.5rem;
}
.destination-main--hawaii{
    background-image: url(../assets/Images/hawaii.jpg);
}
.destination-main--iceland{
    background-image: url(../assets/Images/iceland.jpg);
}    
.destination-main--greece{
    background-image: url(../assets/Images/greece.jpg);
}

.destination-main__title {
    color: white;
    /* margin:0.5rem; */
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 1.88rem;
    font-size: 4rem;
}
.destination-main__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 18%;
}
.destination-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: content-box;
    width: 15.59rem;
    height: 18.36rem;
    border-radius: 0.313rem;
    text-align: center;
    padding-bottom: 3.4rem;
}

.destination-card__title {
    padding-top: 1rem;
    width: 88%;
    font-size: 1rem;
    font-weight: 550;
    margin: 0 auto 1.3rem;
    border-bottom: 2px solid black;
}
/* destination-card__list */

p.destination-card__list-item {
    display: inline-block;
    width: 88%;
    padding: 0.85rem 0;
    margin: auto;
    background-color: #FEFAF5;
    font-size: 1rem;
    color: black;
}