/* global setting  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.nav a,
.nav a:visited,
.nav__title,
.footer-container__info {
    color: #335576
}

h2 {
    font-size: 1.7rem;
    font-weight: 550;
}

h3 {
    font-weight: 575;
}

p {  
}

/* nav bar */

.nav {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
}

.nav a {
    text-decoration: none;
}

.nav__title {
    padding-left: 7rem;
    padding-top: 0.9rem;
    font-size: 1.4rem;
}

.nav__list {
    list-style-type: none;
    padding-right: 6.5rem;
}

.nav__list li {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.8rem 0;
}

.nav__list a {
    /* color: black; */
}

.nav__list-item--active {
    border-bottom: 3px solid #DB7A4E ;
}

.footer-container__header,
.nav__list a:hover,
footer a:hover {
    color: #DB7A4E;
}
.nav__list a:hover {
    z-index: 1;
}

.nav__spacer {
    display: block;
    position: relative;
    width: 100%;
    height: 3rem;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem;
    height: fit-content;
    background-color: #FEFAF5;
    padding-bottom: 3.5rem;
}

.footer h2 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.footer-container__header {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-weight: 100;
}


.footer-container__info {
    white-space: nowrap;
    font-size: 1.2rem;
}

a.footer-container__info {
    text-decoration: none ;
}

/* footer hours specific */
.footer-container__bottom {
    display: flex;
    justify-content: space-between;
}

.footer-container__bottom > div {
    margin-right: 2.4rem;
}

/* footer social specific */
.footer-container__social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-container__logo {
    height: 2rem;
    margin-top: 0.8rem;
    margin-right: 2.5rem;
}

