/* global setting  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
p,
.nav a,
.nav a:visited,
.nav__title,
.footer-container__info {
    color: #335576
}

h2 {
    font-size: 1.7rem;
    font-weight: 550;
}

h3 {
    font-weight: 550;
}

p {  
}

/* nav bar */

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.93);
    padding-bottom: 4rem;
}

.nav a {
    text-decoration: none;
}

.nav__title {
    padding-left: 7rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.nav__list {
    list-style-type: none;
    padding-right: 7rem;
}

.nav__list li {
    display: inline-block;
    font-weight: 400;
    font-size: 1.15rem;
    margin: 0 0.7rem;
    padding: 0.55rem 0;
}

.nav__list a {
    /* color: black; */
}

.nav__list-item--active {
    border-bottom: 0.24rem solid #DB7A4E ;
}

.nav__list a:hover,
.footer-container__header,
footer a:hover {
    color: #DB7A4E;
}
.nav__list a:hover {
    z-index: 1;
}

/* spacer for nav  */
.nav + main{
    padding-top: 4.4rem;
}

/* hero banner */
.index-hero {
    box-sizing: border-box;
    background-image: url(/assets/Images/hero.png);
    background-color: #FEFAF5;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    background-size: 33.66%;
    width: 100%;
    padding: 8rem 0 28rem;
    height: 60vh;
}

.index-hero__container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(254, 250, 245, 0.7);
    box-sizing: content-box;
    width: 43.75rem;
    height: 19rem;
    padding: 0 2%;
    margin-left: calc(7rem - 2%);
    border-radius: 1rem;
}

.index-hero__title {
    font-size: 3rem;
    text-align: left;
}

.index-hero__detail {
    text-align: left;
    font-size: 1.18rem;
    font-weight: 100;
    
}

.index-hero__button {
    display: inline-block;
    min-width: 13.5rem;
    width: 25%;
    padding: 0.9rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: #DB7A4E;
    color: white;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 100;
    
}
/* recommendations */
.recommendations {
    padding: 4rem 7rem 6rem;
}

.recommendations > h2 {
    margin-bottom: 1.8rem;
}

.recommendations__card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 100; */
    padding: 1rem 12.5%;

}
.recommendations__card {
    z-index: -1;
    display: inline-block;
    position: relative;
    min-width: 21rem;
    min-height: 33rem;
    border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.313rem;
color: grey;
}
.recommendations__card:hover{
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.recommendations__card-title {
    position: absolute;
    bottom: 1.3rem;
    right: 1.5rem;
    color: white;
}

.recommendations__card--hawaii {
    background-image: url(/assets/Images/hawaii.jpg);
    background-size: cover;
    background-position: bottom;
}
.recommendations__card--iceland {
    background-image: url(/assets/Images/iceland.jpg);
    background-size: cover;
    background-position: bottom;
}

.recommendations__card--greece {
    background-image: url(/assets/Images/greece.jpg);
    background-size: cover;
    background-position: bottom;
}
    
/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18.5rem;
    height: fit-content;
    background-color: #FEFAF5;
    padding-bottom: 3.5rem;
}

.footer h2 {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 1.8rem ;
}

.footer-container__header {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 100;
}

.footer-container__info {
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 100;
}

a.footer-container__info {
    text-decoration: none ;
}

/* footer hours specific */
.footer-container__bottom {
    display: flex;
    justify-content: space-between;
    width: 33rem;
}

/* footer social specific */
.footer-container__social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 10rem;
}

.footer-container__logo {
    height: 1.9rem;
    margin-top: 0.8rem;
}

