/* global setting  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
p,
.nav a,
.nav a:visited,
.nav__title,
.footer-container__info {
    color: #335576
}

h2 {
    font-size: 1.35rem;
    font-weight: 550;
}

h3{
    font-weight: 550;
}

p {  
}

/* nav bar */
.nav {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    /* height: 2.5rem; */
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: .5rem;
    backdrop-filter: blur(7px);
}

.nav a {
    text-decoration: none;
}

.nav__title {
    padding-left: 5.25rem;
    padding-top: 1.2rem;
    font-size: 1.1rem;
    font-weight: 550;
    white-space: nowrap;
}

.nav__list {
    list-style-type: none;
    padding-right: 5.25rem;
    white-space: nowrap;
}

.nav__list li {
    display: inline-block;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0 0.4rem;
    padding: 0.2rem 0;
}

.nav__list-item--active {
    border-bottom: 0.24rem solid #DB7A4E ;
}

.nav a:hover,
.footer-container__header,
.footer a:hover {
    color: #DB7A4E;
}

.nav a,
.footer a {
    transition-duration: 0.5s;
}

.nav__list a:hover {
    z-index: 1;
}

.test{
}

@keyframes swing-out-top-bck{0%{transform:rotateX(0deg);transform-origin:top;opacity:1}100%{transform:rotateX(-100deg);transform-origin:top;opacity:0}}
/* #nav__list--click {
    display: none;
} */
#nav__list--click:active li {
    animation:swing-out-top-bck .45s cubic-bezier(.6,-.28,.735,.045) both
}

/* spacer for nav  */
.nav + main{
    padding-top: 3.5rem;
}


    
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13.8rem;
    height: fit-content;
    background-color: #FEFAF5;
    padding-bottom: 2.5rem;
}

.footer h2 {
    margin-top: 2.7rem;
    margin-bottom: 1.5rem;
    font-size: 1.35rem ;
}

.footer-container__header {
    margin-bottom: 0.5rem;
    font-size: 0.57rem;
    font-weight: 100;
}

.footer-container__info {
    white-space: nowrap;
    font-size: 0.85rem;
    font-weight: 100;
}

a.footer-container__info {
    text-decoration: none ;
}

/* footer hours specific */
.footer-container__bottom {
    display: flex;
    justify-content: space-between;
    width: 23.75rem;
}

/* footer social specific */
.footer-container__social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 8rem;
}

.footer-container__logo {
    height: 1.43rem;
    margin-top: 0.8rem;
}